* {
  font: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  /* padding-top: 10px;
  text-align: center; */
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.timer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.timer {
  position: relative;
  display: inline-block;
}

.timer input {
  display: block;
  border: none;
  width: 24rem;
  font-size: 9rem;
  text-align: center;
}

.timer button {
  border: none;
  font-size: 3.6rem;
  cursor: pointer;
}
.timer button:not(:last-child){
  margin-right: 2rem;
}

.timer button:focus {
  outline: none;
}

.timer input:focus {
  outline: none;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dial {
  height: 40rem;
  width: 40rem;
}
